{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
    <div class="row">
        <h1>Вот что я умею</h1>
        <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Python
                </li>
                <li class="list-group-item">
                    Django
                </li>
            </ul>
        </aside>
        <article class="col-12 col-md-9">
            <p>Интернет— самая динамичная и быстро развивающаяся информационная
                среда. Развитие современных технологий, возможность доступа в
                интернет с мобильных устройств также расширяют круг его
                пользователей. Чаще всего интернет используется как источник
                информации. Поэтому очень важно сделать доступной информацию о
                вашей организации для интернет-пользователей. С этой целью я
                предлагаем вам услуги по изготовлению качественных сайтов,
                привлекающих потенциальных клиентов и заказчиков.</p>
        </article>
    </div>
{% endblock %} </html>